.about{
    position: relative;
    padding-top: $pt;
    padding-bottom: $pt;
    @include breakpoint-up(medium){flex-direction: row;}
    &__text{
        z-index: 2;
        max-width: 52.15rem;
        margin: auto;
        text-align: center;

        // breakpoint medium
        @include breakpoint-down(medium){
            padding: $p-lr-mobil;
        }
        @include breakpoint-up(medium){
            // Section on breakpoint up
            text-align: left!important;
            max-width: 30.75rem;   
            margin-left: 34.06rem; 
        }

        h1{
            font-family: $font-headings;
            font-size: $font-size-xl;
            font-weight: $font-black;
            @include breakpoint-down(medium){
                margin-top: 1.75rem;
                margin-bottom: 2.25rem;
                font-size: $font-size-lg;
            }
            @include breakpoint-up(medium){font-size: $font-size-lg-m;}
        }
        h1:last-child{
            margin-top: 1rem;
        }
        h6{
            font-size: $font-size-md;
            font-weight: $font-sbold;
        }
        p{
            margin-bottom: 2.25rem;
        }
        a{
            text-decoration: none;
            color: $darkgray;
            ion-icon{
                margin-right: 0.5rem;
            }
            @include breakpoint-down(medium){ justify-content: center;}
        }

    }

    &__image{
        width: 24.68rem;
        height: 24.68rem;
        left:5.75rem;
        position:absolute;
        @include breakpoint-down(medium){display: none;}
    }
    

}
.download-btn{
    margin-top: 2rem;
    display: block;
    justify-content: left;
    a{color:$white!important;}
}
