.contact{
    position: relative;
    padding-top: $pt;
    padding-bottom: $pt;
    @include breakpoint-up(large){
        flex-direction: row!important;
    align-content: center;}
    @include breakpoint-down(large){padding: $p-lr-mobil!important;}
    .separator {margin-top: 0;}
    
    &__text{
        
        @include breakpoint-up(large){
            flex-direction: row;
            margin-top: 2rem;
            order:2}

        @include breakpoint-down(large){
            padding: $p-lr-mobil;
            flex-direction: column!important;
            width: 100%;
        }

    }
    &__form { 
        @include breakpoint-up(large){
            order: 1;
            margin-left: 1rem;
            
            
        }
        @include breakpoint-down(large){
            width: 100%;
        }
        > a {
        text-align: center;
        margin-top: 1rem;
        }

    }
    &__medios{
        align-items: left;
        @include breakpoint-up(large){
            order:1;
        }
        > p, a{
            margin: 0!important;
            text-decoration: none;
            color: $darkgray;}
        ion-icon{ margin-right: 0.5rem;}  
    }
    
    h1{
        font-family: $font-headings;
        font-size: $font-size-xl;
        font-weight: $font-black;
        @include breakpoint-down(large){
            margin-top: 1.75rem;
            margin-bottom: 2.25rem;
            font-size: $font-size-lg;
        }
        @include breakpoint-up(large){
            font-size: $font-size-lg-m;
            text-align: left!important;
        }
    }
    .custom-btn{

        text-decoration: none;

        ion-icon{
            margin-right: 0.5rem;
        }
        @include breakpoint-down(large){ justify-content: center;}


    }

}