.contact{
    position: relative;
    padding-top: $pt;
    padding-bottom: $pt;
    @include breakpoint-up(medium){
        flex-direction: row;
    align-content: center;}
    @include breakpoint-down(medium){padding: $p-lr-mobil!important;}
    .separator {margin-top: 0;}
    &__text{
        @include breakpoint-up(medium){
            flex-direction: row;
            margin-top: 2rem;}

        @include breakpoint-down(medium){
            padding: $p-lr-mobil;
            flex-direction: column!important;
        }

    }
    &__form { 
        @include breakpoint-up(medium){
            order: 1;
            margin-left: 9rem;
            padding-right: 12.81rem;
            max-width: 41.5rem;
        }
        > a {
        text-align: center;
        margin-top: 1rem;
        }

    }
    &__medios{
        align-items: left;
        @include breakpoint-up(medium){
            margin-left: 12.25rem;
        }
        > p, a{
            margin: 0!important;
            text-decoration: none;
            color: $darkgray;}
        ion-icon{ margin-right: 0.5rem;}  
    }
    
    h1{
        font-family: $font-headings;
        font-size: $font-size-xl;
        font-weight: $font-black;
        @include breakpoint-down(medium){
            margin-top: 1.75rem;
            margin-bottom: 2.25rem;
            font-size: $font-size-lg;
        }
        @include breakpoint-up(medium){font-size: $font-size-lg-m;}
    }
    .custom-btn{

        text-decoration: none;

        ion-icon{
            margin-right: 0.5rem;
        }
        @include breakpoint-down(medium){ justify-content: center;}


    }

}