*, *::after *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

*:hover{
    color:$black!important;
}
body{
    font-size: 100%;
    padding: 0;
    font-family: '';
    font-family: $font-body;
    color: $darkgray;
}
.noscroll{
    overflow: hidden;
}

.custom-btn{
    display: flex;
    text-align: center;
    background-color: $red;
    color: $white;
    padding: 1.125rem 4.56rem,;
    max-height: 3.43rem;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    @include breakpoint-up(medium){
        display: block;
        max-width: 20rem;
    }
    &:hover{ 
        opacity: 0.7;
        color: $white!important;}
}

.section-title{

        font-family: $font-headings;
        font-size: $font-size-xl;
        font-weight: $font-black;
        @include breakpoint-down(medium){
            margin-top: 1.75rem;
            margin-bottom: 2.25rem;
            font-size: $font-size-lg;
        }
}

.separator{  // section separator
    width: 10rem;

    border-bottom: 1px solid $darkgray;
    margin: auto;
    margin-top: 2.75rem;
    @include breakpoint-up(medium){
        // Section on breakpoint up
        display: none;
        
    }

}

.section{
    @include breakpoint-up(medium){
        padding: 0 8.437rem;}
}

.section:nth-child(even){
    background-color: $softgray
}