.project{
    position: relative;
    padding-top: $pt;
    padding-bottom: $pt;
    @include breakpoint-up(medium){
        flex-direction: row;
        padding:  7.8125rem 8.437rem ;
        position: relative;}

    @include breakpoint-down(medium){
        padding: $p-lr-mobil!important;
    }
    &__text{
        z-index: 2;
        
        text-align: center;

        // breakpoint medium
        @include breakpoint-down(medium){
            padding: $p-lr-mobil;
        }
        @include breakpoint-up(medium){
            // Section on breakpoint up
            text-align: left!important;

        }

        h1{
            font-family: $font-headings;
            font-size: $font-size-xl;
            font-weight: $font-black;
            @include breakpoint-down(medium){
                margin-top: 1.75rem;
                margin-bottom: 2.25rem;
                font-size: $font-size-lg;
            }
            @include breakpoint-up(medium){font-size: $font-size-lg-m;}
        }
        h1:last-child{
            margin-top: 1rem;
        }
        h6{
            font-size: $font-size-md;
            font-weight: $font-sbold;
        }
        p{
            margin-bottom: 2.25rem;
        }
        a{
            text-decoration: none;
            color: $darkgray;
            ion-icon{
                margin-right: 0.5rem;
            }
            @include breakpoint-down(medium){ justify-content: center;}
        }

    }
    &__wrapper{
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        overflow: hidden;

        .portfolio{
            position: relative;
            width : 15.56rem;
            height: 18.56rem;
            margin-bottom: 2rem;
            background-image: url('/assets/images/ux-design.png');
            background-size: contain;
            background-position: center;
            box-shadow: 2px 2px 2px $darkgray;
            color: $white;
            overflow: hidden;
            &__project {
                position: absolute!important;
                z-index: 200!important;
                color: $white;
                text-align: center;
                width: 100%;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                padding: 2rem;
                >a{
                    text-decoration: none;
                    z-index: 100;
                    cursor: pointer;
                    color: $white!important;
                }
            }
        }
    
       .portfolio::after{
           content: '';
           position: absolute;
           top: -100%;
           left: 0;
           width: 100%;
           height: 100%;
           background-color: black;
           opacity: 0.3;
           z-index: 0;

       }
       .portfolio:hover{
           color: $white!important;
       }
       .portfolio:hover::after{
           top: 0;
           transition: .5s ease all;
       }
    }
}

